<!DOCTYPE html>
<html lang="ru">
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>

        <main class="main">
            <h1 class="main__title">Система тестирования</h1>
            <h2 class="main__technoTitle">Выберите технологию:</h2>
            <div class="main__technoContainer">
                <div class="main__technoItem"><a href="/technology/javascript/">JavaScript</a></div>
                <div class="main__technoItem">HTML5</div>
                <div class="main__technoItem">CSS3</div>
                <div class="main__technoItem">GIT</div>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
