<!DOCTYPE html>
<html lang="ru">
    <%- include ('./partials/head.ejs') %>
    <body>
        <header class="header">
            <nav class="header__navigation">
                <div class="header__title">QRUIZ контроль</div>
            </nav>
        </header>

        <main class="main">
            <h1 class="main__title">Система тестирования</h1>
            <h2 class="main__technoTitle">Выберите технологию:</h2>
            <div class="main__technoContainer">
                <div class="main__technoItem"><a href="/technology/javascript/">JavaScript</a></div>
                <div class="main__technoItem">HTML5</div>
                <div class="main__technoItem">CSS3</div>
                <div class="main__technoItem">GIT</div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__city">Караганда</div>
            <div class="footer__site">devlab.kz</div>
        </footer>
    </body>
</html>
