<!DOCTYPE html>
<html lang="ru">
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include('./partials/header.ejs') %>

        <main class="main">
            <h1 class="main__title">JavaScript</h1>
            <h2 class="main__technoTitle">Выберите раздел:</h2>
            <div class="main__technoContainer">
                <div class="main__technoItem">
                    <a href="/technology/javascript/basis">Основы</a>
                </div>
                <div class="main__technoItem">
                    <a href="/technology/javascript/objects">Объекты</a>
                </div>
                <div class="main__technoItem">
                    <a href="/technology/javascript/types">Типы данных</a>
                </div>
                <div class="main__technoItem">
                    <a href="/technology/javascript/classes">Классы</a>
                </div>
            </div>
        </main>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>
